<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warmi"
        tools:targetApi="31">
        <activity
            android:name=".views.activity.address.CrudAddressActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.product.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.PhoneAuthActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.payments.PaymentMethodeActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.payments.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>